
<% if flash[:notice] %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>



<h2>タイトル</h2>
<p><%= @book.title %></p>

<h2>本文</h2>
<p><%= @book.body %></p>

  <span>

    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Back", "/books" %>
  </span>
